body { height: 100%; }
.right { float: right; }
.left { float: left; }
.clear { clear: both; }
.no_display { display: none; }

html, body {
	height: 100%;
	padding-top: 30px;
}
.wrapper {
	min-height: 100%;
	height: 100%;
	margin: 0 auto -60px;
}

footer {
    position: relative;
    margin-top:-60px;
    height: 60px;
    color: #666;
    background: #222;
    padding-top: 20px;
    border-top: 1px solid #000;
}

footer a {
    color: #999;
}

footer a:hover {
    color: #efefef;
}