<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="utf-8">
    <title>Sistema para controle de clientes</title>

    {# Stylesheets #}
    <link rel="stylesheet" href="{{ STATIC_URL }}css/main.css">
    <link rel="stylesheet" href="{{ STATIC_URL }}bootstrap/css/bootstrap.css">

    {# Javascripts #}
    <script type="text/javascript" src="{{ STATIC_URL }}js/jquery.js"></script>
{#    <script type="text/javascript" src="{{ STATIC_URL }}js/jquery-1.9.1.js"></script>#}
    <script type="text/javascript" src="{{ STATIC_URL }}js/jquery.dataTables.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}bootstrap/js/bootstrap.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/main.js"></script>
</head>
<body>
    {% block header %}{% endblock %}

    {% block section %}{% endblock %}

    {% block footer %}{% endblock %}
</body>
</html>