<header class="navbar navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container">
{#                        <button type="button" class="btn btn-navbar">lkasjdçsa</button>#}
            <a class="brand" href="/">Sistema de Controle de Clientes</a>
            <div class="nav-collapse collapse">
                <ul class="nav">
                    <li><a href="/">Home</a></li>
                    <li><a href="/client/">Cadastrar Cliente</a></li>
                    <li><a href="/address/">Cadastrar Endereco</a></li>
                </ul>
            </div>
        </div>
    </div>
</header>