{% extends "base.html" %}

{% block section %}
    <section>
        {% if message %}
            {{ message }}
        {% endif %}
        {% if clients %}
            <table id="table-clients" class="table table-bordered table-condensed table-hover">
                <caption>Lista de clientes</caption>
                <thead>
                    <tr>
                        <td>Nome</td>
                        <td>Sexo</td>
                        <td>Data de nascimento</td>
                        <td>Email</td>
                        <td>CPF</td>
                        <td>Endereço</td>
                    </tr>
                </thead>
                <tbody>
                    {% for client in clients %}
                        <tr>
                            <td><a href="/profile/{{ client.id }}">{{ client.name }}</a></td>
                            <td>{{ client.sex }}</td>
                            <td>{{ client.birthday }}</td>
                            <td>{{ client.email }}</td>
                            <td>{{ client.cpf }}</td>
                            <td>{{ client.address }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% endif %}

        <a href="/client/">Cadastrar Cliente</a>
    </section>
{% endblock %}